<div class="search container-fluid container-fluid-custom pb-5 mb-5">
    <% if (searchResults && searchResults.length > 0) { %>
        <ul class="search-results">
            <% searchResults.forEach(function(note) { %>
                <li>
                    <a href="/dashboard/item/<%= note._id %>">
                        <%= note.title %>
                    </a>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p class="no-results">No results found</p>
    <% } %>
</div>
